@model PaginationModel

<nav aria-label="Page navigation example">
    <ul class="pagination mt-5 d-flex justify-content-center">
        <li class="page-item">
            <a class="page-link @(Model.Page == 1 ? "disabled" : "")" asp-route-page="@(Model.Page - 1)" asp-route-totalpages="@Model.TotalPages" asp-route-OrderBy="@Model.OrderBy" asp-route-IsAscending="@Model.IsAscending">Previous</a>
        </li>

        @for(var i = 1; i <= Model.TotalPages; i++){
        <li class="page-item @(Model.Page == i ? "active" : "")">
            <a class="page-link" asp-route-page="@i" asp-route-totalpages="@Model.TotalPages" asp-route-OrderBy="@Model.OrderBy" asp-route-IsAscending="@Model.IsAscending">@i</a>
        </li>
        }
        
        
        <li class="page-item">
            <a class="page-link @(Model.Page == Model.TotalPages ? "disabled" : "")" asp-route-page="@(Model.Page + 1)" asp-route-totalpages="@Model.TotalPages" asp-route-OrderBy="@Model.OrderBy" asp-route-IsAscending="@Model.IsAscending">Next</a>
        </li>
    </ul>
</nav>