@model CourseDetailViewModel;
@inject IAuthorizationService _service
@{
    var subscribedResult = await _service.AuthorizeAsync(User, "Subscriber");
    var isSubscribed = subscribedResult.Succeeded;
}

<section>
    <div class="row">
        <div class="col-md-9 mt-3">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-3 d-grid gap-2 align-items-center">
            @if(isSubscribed){
                <a class="btn btn-warning btn-lg disabled" role="button" id="subscribeButton">ISCRITTO</a>
            } else{
                <a class="btn btn-warning btn-lg" role="button" id="subscribeButton" asp-action="Subscribe">ISCRIVITI</a>
            }
        </div>

        <div class="col-md-9">
            <div>@Model.Description</div>
        </div>
        <div class="col-md-3">
            <aside>
                <author>
                    @Model.Author
                </author>
                <div class="rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.Price"></price>
                </div>
                <div>
                    <img src="@Model.ImagePath" width="223" height="223"/>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="lessonLine">
    <h2 class="mt-4">LEZIONI (@Model.Lessons.Count)</h2>
    
    @foreach(var lesson in Model.Lessons) {
    <hr>
    <div class="row">
        <div class="col-10">
            @lesson.Title
        </div>
        <div class="col-2">
            <i class="far fa-clock"></i> @lesson.Duration
        </div>
    </div>
    }

    <hr>
    <div class="row totalRow">
        <div class="col-10">
            Totale
        </div>
        <div class="col-2">
            @Model.TotalLessonDuration
        </div>
    </div>
</section>

@* <script>
    $(document).ready(function(){
        var subscribe = function() {
            var toPost = {
                id: @Model.Id
            };
            $.post('@Url.Action("Subscribe", "Courses")', toPost, function (result){
                if(result.result){
                    window.location.reload();
                }
            }).fail(function(error){
                console.log('custom error');
                if(error.status == 401){
                    window.location.href = '@Url.Action("Index", "Login", new {Area = "Account"})';
                }
            });
        }

        $('#subscribeButton').click(function() {
            subscribe();
        });
    });
</script> *@