@model CourseDetailViewModel;

<section>
    <div class="row">
        <div class="col-md-9 mt-3">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-3 d-grid gap-2 align-items-center">
            <a class="btn btn-warning btn-lg" role="button">ISCRIVITI</a>
        </div>

        <div class="col-md-9">
            <div>@Model.Description</div>
        </div>
        <div class="col-md-3">
            <aside>
                <author>
                    @Model.Author
                </author>
                <div class="rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.Price"></price>
                </div>
                <div>
                    <img src="@Model.ImagePath" width="223" height="223"/>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="lessonLine">
    <h2 class="mt-4">LEZIONI (@Model.Lessons.Count)</h2>
    
    @foreach(var lesson in Model.Lessons) {
    <hr>
    <div class="row">
        <div class="col-10">
            @lesson.Title
        </div>
        <div class="col-2">
            @lesson.Duration
        </div>
    </div>
    }
</section>